---
# Only diagnose our own sources, never bundled third-party subprojects.
HeaderFilterRegex: 'src/.*'

Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-duplicate-include,
  -bugprone-multi-level-implicit-pointer-conversion,
  -hicpp-signed-bitwise,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -clang-diagnostic-pragma-pack,
  -readability-function-cognitive-complexity,
  -cert-err33-c,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-init-variables,
  -readability-math-missing-parentheses,
  -cert-err34-c,

WarningsAsErrors: ''
FormatStyle: file
...
